<tr>
  <td class="task">
    <span class="title"><input type="checkbox" name="" value="" /> <%= task.title  %></span>
    <span class="taskcreated">
      Created <%= time_ago_in_words(task.created_at) %> ago.
    </span>
  </td>
</tr>