<tr>
  <td class="stream">
    <span class="title"><%= link_to stream.title, stream %></span>
    <span class="timestamp">
      Created <%= time_ago_in_words(stream.created_at) %> ago.
    </span>
	<span class="participants">fotinhos</span>
  </td>
</tr>